
.new-member-container{
    padding: 0 15px;
    border-bottom: 1px solid $grey-light;
    padding-top: 15px;

    h1{
        margin: 0;
    }

    .user-box{
        width: 100%;
        border-bottom: 1px solid $grey-light;
        padding: 20px 0;
        
        p{
            margin: 0;
        }
        a{
            text-decoration: none;
        }
        img{
            border-radius: 90px;
            width: 70px;
        }

        @media screen and(min-width: 768px) {
            .registration-day{
                justify-self: flex-end;
            }
        }
    }

    :last-child{
        border-bottom: none;
    }

    
    @media screen and(min-width: 1024px) {
        border-right: 1px solid $grey-light;
    }
}

.recent-activity-container{
    padding: 0 15px;
    border-bottom: 1px solid $grey-light;
    margin-top: 15px;
    
    a{
        text-decoration: none;
    }

    h1{
        margin: 0;
    }

    .activity-box{
        border-bottom: 1px solid $grey-light;
        padding: 20px 0;

        img{
            border-radius: 90px;
            width: 70px;
        }
        p{
            margin: 0;
            @media screen and (min-width: 1024px) {
                padding-right: 20px;
            }
        }
        @media screen and(min-width: 768px) {
            .arrow{
                display: block;
                transform: scale(2,4);
            }
        }
    }

    :last-child{
        border-bottom: none;
    }
}