.settings-container{
    padding: 0 15px;
    padding-bottom: 15px;
    margin-top: 15px;

    h1{
        margin: 0;
    }

    #timezone{
        width: calc(100% - 2px);
        margin-top: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 60px;
        background-color: #f5f5f5; 
        appearance:none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='%237477bf' height='60' viewBox='0 0 24 24' width='50' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-right: 2rem;
        padding: 1rem;
        padding-right: 2rem;
        cursor: pointer;

        option:first-child{
            display: none;
        }

        @media screen and(min-width: 1024px) {
            margin-top: auto;
        }
        
    }
    .save-cancel-container{
        margin-top: 20px;
        width: 100%;

        *{
            width: 100%;
            height: 35px;
            color: $white;
            border-radius: 5px;
            border: 1px solid $grey-light;
        }

        .save-button{
            background-color: $primary-blue;
            height: 45px;
            cursor: pointer;
            padding: 0;
            transition: 300ms;

            &:hover{
                transition: 300ms;
                background-color: darken($primary-blue, 15%);
                transform: scale(1.01);
            }
            &:active{
                transition: 100ms;
                transform: scale(1.03);
            }
        }
        .cancel-button{
            background-color: #999;
            height: 45px;
            padding: 0;
            cursor: pointer;
            transition: 300ms;
            
            &:hover{
                transition: 300ms;
                background-color: darken(#999, 15%);
                transform: scale(1.01); 
            }
            &:active{
                transition: 100ms;
                transform: scale(1.03);
            }
        }
        @media screen and(min-width: 1024px) {
            margin-top: auto;
        }

    }

    .settings-row{
        
        @media screen and(min-width: 1024px) {
            margin-top: 5px;
        }
    }

    .saved{
        @include message-overlay-style;

        .saved-wrapper{
            @include message-wrapper-style;
            background-color: $primary-green;
        }
        img{
            width: 64px;
        }

        h1{
            color: $white;
            padding-right: 30px;
        }
    }

    .cancel{
        @include message-overlay-style;

        .cancel-wrapper{
            @include message-wrapper-style;
            background-color: rgb(253, 8, 0);
        }
        img{
            width: 64px;
        }

        h1{
            color: $white;
            padding-right: 30px;
        }
    }

    
    .active{
        visibility: visible;
        opacity: 1;
        transition: 300ms;
    }
}